/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #f5f7fa;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	color: #283D56;
}

/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
	background-color: #5586D6;
}
.footer-modal{
	background-color: #5586D6;

}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #5586d6;
	margin: 84px auto auto auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5586d6;
	color: white;
	text-align: center;
}

.container {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.banner {
	background: #5586D6;
	color: #fff;
	padding: 10px;
}



/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}
footer {
	padding: 10px;
	font-size: .8rem;
	margin-top: 30px;
}
.title, .tips {
	height: 30px;
	padding-top: 20px;
	position: relative;
}
.title {
	border-radius: 40px 40px 0 0;
}
.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}

.content-middle {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
	text-align: center ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27px;
}
.contentName {
	padding: 10px;
	padding-left: 20px;
	width: 25%;
	font-weight:bold;
	vertical-align: top;
}
.contentDetails {
	padding: 10px;
}
.contentAction {
	width: 10%;
	padding-right: 20px;
	text-align: right;
}

.nameText {
	font-weight: bold;
}
.records textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-size: .9em;
}

/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("../images/sprite.png");
  background-position: -5px -568px;
  width: 18px;
  height: 18px;
    display:inline-block;
}

tr:hover .deleteBtn {

	cursor: pointer;
}


.tableRows{
	border: 2px solid #DFE3E6
}



.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

.errorMsg {
	color: red;
	font-weight:normal;
}
.newappIcon {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
	padding: 10px;
}

.appTitle {
	padding: 15px;
  margin: 0 auto;
  text-align: center;
	font-size: 1.5rem;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.infoImg {
	cursor: pointer;
}
.flexBox {
	display: flex;
	flex-wrap: wrap;
}
.contentTiles {
		padding: 10px;
		font-size: .8rem;
}
.uploadBox {
  margin: 0 auto;
  text-align: center;
}
.appinfo {
	padding: 10px;
}



.listDiv {
	width: 100%;
}
.listHeader {
	font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
.listUl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.listLi {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.listLi:last-child {
	border: none;
}
.listLi a {
	text-decoration: none;
	color: #000;
	display: block;
	width: 100%;
   
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
} 
.listLi a:hover {
	font-size: 30px;
	background: #f6f6f6;
}